---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="airbnb-embed-frame" data-id="1106628877310000026" data-view="home" data-hide-price="true" style="width: 			450px; height: 300px; margin: auto;">
			<a href="https://www.airbnb.com/rooms/1106628877310000026?			
			guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">
			View On Airbnb
			</a>
			<a href="https://www.airbnb.com/rooms/1106628877310000026?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" 			rel="nofollow">
			Rental unit in Washington · ★4.97 · 1 bedroom · 1 bed · 1 bath</a>	
			<script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>
		</main>
		<Footer />
	</body>
</html>
